*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.board{
    background-image: url(./asest/150.png);
    width: 1200px;
    height: 1200px;
}
.bpawns{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 145px;
}
.black{
    display: flex;
    flex-direction: row;
}
.wpawns{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 885px;
}
.white{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1045px;
}